/* // #1BA4AA // teal 
// #7BC950 // green
// #B185EA // lavender
// #F68E5F // orange
// #D7b0ac // rose  
*/

@import 'tailwindcss/tailwind.css'; /* Import Tailwind CSS */

/* Apply base, components, and utilities from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply font-fredokaOne flex justify-center items-center;
  background-image: url('../public/background.png'); /* Custom background */
  min-height:100vh;
  background-size: 500px 500px;
}

@media (max-width: 600px) {
  body {
    background-size: 350px 350px;
  }
}
